#root {
  max-width: 1280px;
  margin: 20px;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav{ 
  width: 80px;
  height: 780px;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 10px;
  background-color: #f7f8fc;
  }

aside{
  width: 360px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;

  }