#root {
  max-width: 1280px;
  margin: 20px;
  display: flex;
}

h1, h2 {
  color: #1A1662;
}


nav{ 
  width: 80px;
  height: 780px;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 10px;
  background-color: #f7f8fc;
  position: fixed;
  }

aside{
  width: 360px;
  height: auto;
  padding: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: static;
  }

main {
  margin: 20px;
  padding: 20px;
}

div {
  width: 60%;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

footer{
  display: flex;
  flex-wrap: wrap;
}