:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  justify-content: start;
  height: auto;
  width: auto;
  background-color: #f7f8fc;
}

