#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: grid;


body {
  margin: 0;
  display: flex;
  justify-content: start;
  height: auto;
  width: auto;
  background-color: #f7f8fc;
}

}